<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryClient.Properties.Settings.LibraryManager_Books"
            connectionString="Data Source=VICTOR-PC;Initial Catalog=LibraryManager;Integrated Security=True; MultipleActiveResultSets=true;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="connectionString" value="Data Source=VICTOR-PC;Initial Catalog=LibraryManager;Integrated Security=True"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>